.carousel-inner img {
      width: 90%;
      max-height: 600px;
      margin: auto;
  }

.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 24px;
  text-align: left;
  background-color: #DCDCDC;
}

.main-header  {
  margin-top: 0;
  color: #fff;
}

.panel-heading {
  background-color: #DCDCDC;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color :#DCDCDC;
  color: #fff;
}



.words-pannel {
  margin-top: 10px;
}

.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}

/****魔方*****/
#experiment {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 800px;
  perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 100px auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 1s linear;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 400px;
  width: 400px;
  padding: 20px;
  background-color: rgba(248, 218, 89, 0.86);
  font-size: 27px;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
}

#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  transform: translateZ(200px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

/****导航图****/
div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

.index-content a:hover{
  color:black;
  text-decoration:none;
}
.index-content{
  margin-bottom:20px;
  padding:50px 0px;

}
.index-content .row{
  margin-top:20px;
}
.index-content a{
  color: black;
}
.index-content .card{
  background-color: #FFFFFF;
  padding:0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  color:black;
}
.index-content .card img{
  width:100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.index-content .card h4{
  margin:20px;
}
.index-content .card p{
  margin:20px;
  opacity: 0.65;
}
.index-content .blue-button{
  width: 100px;
  -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s , color 1s;
  min-height: 20px;
  background-color: #002E5B;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: lighter;
  margin: 0px 20px 15px 20px;
  padding: 5px 0px;
  display: inline-block;
}
.index-content .blue-button:hover{
  background-color: #dadada;
  color: #002E5B;
}
@media (max-width: 768px) {

  .index-content .col-lg-4 {
      margin-top: 20px;
  }
}

/*---游戏-----*/
.chess_game{
    width:300px;
    height:330px;
    position:absolute;
    left:52%;
    top:55%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%)
    }
.square{

    width:95px;
    height:95px;
    box-sizing:border-box;
    float:left;
    border:1px solid lightblue;
    line-height:100px;
    font-size:30px;
    font-weight:bold;
    text-align:center
    }
/*# sourceMappingURL=main.css.map */
